.skincare_bg {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.blog_container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 400px;
border: 1px solid #D9D9D9;

}

.blog_cards_wrapper {
 display: flex;
 gap: 20px;
 padding: 0 20px;
}

.blog_content{
    padding: 0 20px;
}

.author{
  margin-right: 10px;
}