.delete-btn {
  background-color: red;
}

.cancel-btn {
  background-color: rgb(162, 162, 162);
  color: rgb(101, 101, 101);
}
.delete-btn:hover {
  background-color: red;
}

.modal-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  height: auto;
  width: 35%;
  position: absolute; 
 top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
}

.close-icon{
    position: absolute;
    right: 30px;
}
