nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
    padding: 0 30px;
}

nav > h1 {
  color:  #3A5B22;;
}

ul > a {
  color:  #3A5B22;
  font-weight: 600;
}

nav > ul {
  display: flex;
  gap: 10px;
}
