   *{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }  

body{
    padding: 0;
    margin: 0;
}

.login_wrapper, .signup_wrapper{
    display: flex;
}

.form_item{
flex:1
}

.container{
    height: 100vh;
   display: flex;
    justify-content: center;
   align-items: center;
}

.form{

   width: 65%;
   padding:30px;
   border-radius: 10px;
    
}

.form h2{
  margin-bottom: 0;
  font-weight: 600;

}
   
input, textarea{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    margin-bottom: 20px;
  

}

.email, .password{
    margin-top: 10px;
}


button{
border-radius: 10px;
padding: 8px 0;
 color: #ffff;
outline: none;
border: none;
font-size: 18px;
font-weight: 600;
cursor: pointer;
margin-top: 30px;
width: 100%;
background-color: #3A5B22;
}

button:hover{
    background-color: #567b3b;
    color: white;
} 

.link{color: #0F3DDE};


.width{
    width: 100%;
}

.form p{
font-size: 14px;
font-weight: 600;
padding-top: 0;
padding-bottom: 30px;
}

.status{
    display: flex;
}

.create_blog_form label{
    font-weight: 600;
}

.action_btns{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.action-btns-modal button{
    margin: 0 0 20px 0;

}



